---
layout: page
title: Blog
header: Blog
group: navigation
blog_page: false
permalink: blog/
---
{% include JB/setup %}

<!--
<div id="page-holder">
  <div id="post-list" style="display: none;">
    <ul></ul>
  </div>
  <div id="post-single" style="display: none;">
    <div id="post-nav"><a href="#">Back</a></div>
    <h2 id="post-title"></h2>
    <div id="post-body"></div>
  </div>
</div>
-->


{% for post in site.posts %}{% unless post.category contains 'twenty' %}{% include JB/single_post %}{% endunless %}
{% endfor %}


<hr> </hr>
{% include JB/setup %}
<div>
<h3>Site log</h3>

<h5> 07/20/2014 night</h5>

<p>Start up! The construction of this website is based on the template of <a href="http://kbroman.org"> Kar Broman</a>'s Github repository, [simple website](https://github.com/kbroman/simple_site) and other resouces. Thanks to them!</p>

<h5> 07/21/2014 </h5>

<p>Spend whole day to build up the struct of this site. *Blog* part is done but *Notes* and *Computing*. Thanks to the resources from <a href="http://bernsteinbear.com"> Max Berstin</a>.
</p>
</div>

