---
layout: page
title: Computing
header: computing
group: navigation
blog_page: false
permalink: blog/
---
{% include JB/setup %}

<!--
 <div id="page-holder">
 <div id="post-list" style="display: none;">
 <ul></ul>
 </div>
 <div id="post-single" style="display: none;">
 <div id="post-nav"><a href="#">Back</a></div>
 <h2 id="post-title"></h2>
 <div id="post-body"></div>
 </div>
 </div>
 -->


{% for post in site.cposts %}{% unless post.category contains 'twenty' %}{% include JB/single_post %}{% endunless %}
{% endfor %}