 {% include header.html %}

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata">
    <style>
      body {
        font-family: 'Inconsolata', consolas, sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 28px;
      }
    </style>
 <div class="row-fluid">
 <div class="span2">

  </div>
  <div class="span4">
      {{ content }}
  </div>
 <div class="span1">

  </div>
  <div class="span3">
  	<img src="/images/spike_long.png" height="535" width="163" />
  </div>
   <div class="span2">

  </div>
</div>
 {% include footer.html %}

