---
layout: default
---

<div class="home">
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }} -->
  <!-- do not include index.md -->
  <!-- {{ content }} -->
  
  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: " " }}</h2> -->
    <ul class="post-list">
    {%- assign id = 0 -%}
      {%- for post in site.posts -%}
      {%- assign id = id | plus: 1 -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape}}
          </a>
        </h3>

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"  -%}
        <p class="post-meta">{{ post.date | date: date_format }}</p> 

        {%- if id == 1 -%}
          {{ post.content }}
        {%- elsif id > 1 -%}
          <div class="blog-post__content">
            <p>{{ post.excerpt }}</p>
            <p><a href="{{ post.url }}" class="button">Read More...</a>
          </div>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
